@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.container {
  max-width: 1400px;
  background-color: #f7f7f7;
  margin: 1rem auto;
  padding: 2rem;
  color: black;
  border-radius: 20px;
}

.dark .container {
  background-color: #1e1e1e;
  color: white;
}


@layer base {

  .heading {
    font-size: 1.7rem;
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .dark .heading {
    color: rgb(196, 194, 194);
  }

}

button {
  cursor: pointer;
}

@media (width<=600px) {
  .container {
    padding: 1.5rem;
    border-radius: 20px;
  }

}